@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #00b686;
  --secondary: #04433b;
  --dark: #000000;
  --pure: #ffffff;
  --ternary: #657372;
  --light: #f2f2f2;
  --light-gray: #7b8786;
  --placeholder-gray: #d3d7d7;
  --border-gray: ##bdc3c2;
  --title: #233735;
}

body {
  background-color: var(--light);
}
