@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #00b686;
  --secondary: #04433b;
  --dark: #000000;
  --pure: #ffffff;
  --ternary: #657372;
  --light: #F2FBF9;
  --light-gray: #7b8786;
  --placeholder-gray: #d3d7d7;
  --border-gray: ##bdc3c2;
  --title: #233735;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--light);
}

.centered-axis-x {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.centered-axis-xy {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
